@model Producto

<h1>Buscar Producto</h1>

<form action="" method="POST">
    <div class="form-group">
        <label asp-for="NombreProducto">Nombre del Producto</label>
        <input asp-for="NombreProducto" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Foto"></label>
        <input asp-for="Foto" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Descripcion">Descripcion del Producto</label>
        <input asp-for="Descripcion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Precio"></label>
        <input asp-for="Precio" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Celular"></label>
        <input asp-for="Celular" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LugarCompra">Lugar de Compra</label>
        <input asp-for="LugarCompra" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="NombreComprador">Nombre del Comprador</label>
        <input asp-for="NombreComprador" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="categoria">Categoria del Producto</label>
        <select asp-for="CategoriaId" asp-items=" ViewBag.categoria" class="form-control"></select>
    </div>
    <button class="btn btn-primary">Buscar Producto</button>
    <br>
</form>