@model List<Producto>

<hi>Producto buscdo</hi>

<table class="table border">
  <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Foto</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Celular</th>
      <th>Lugar de compra</th>
      <th>Nombre del comprador</th>
      <th>categorias</th>
      <th>Operaciones</th>
  </tr>


</table>