@{
    ViewData["Title"] = "Busco";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Busco</h1>
    <br>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eius dignissimos aliquid illo dolor ab porro excepturi, consequuntur praesentium omnis blanditiis molestiae odio aspernatur? Quasi voluptatem quos fuga veniam veritatis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere enim expedita autem nisi quaerat rem quidem maxime tempore placeat hic saepe doloribus, libero dolorem suscipit deleniti vitae vel soluta fuga.</p>
            </div>
            <div class="col-md-6">
                <img src="https://image.freepik.com/vector-gratis/ilustracion-lupa_53876-28516.jpg" alt="">
            </div>
        </div>
    </div>
</div>
